
<div class="card" style="width: 20rem; float:left; margin:20px; position:relative; heigth:300px">
  <img width="100%" height="200" class="card-img-top" src="{{images.links.firstObject.href}}" alt="{{images.data.firstObject.title}}">
  <div class="card-body">
    <h4 class="card-title">{{images.data.firstObject.title}}</h4>
    <p class="card-text">{{images.data.firstObject.description_508}}</p>
    <a href="#" class="btn btn-primary">Guardar</a>
  </div>
</div>

{{yield}}