

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img height="200" src="{{images.links.firstObject.href}}" alt="{{images.data.firstObject.title}}">
      <div class="caption">
        <h3>{{images.data.firstObject.title}}</h3>
        <p>{{images.data.firstObject.description_508}}</p>
         
      </div>
    </div>
  </div>

{{yield}}