

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      {{#if hide}}
        <img height="200px" width="200px" src="{{images.links.firstObject.href}}" alt="{{images.data.firstObject.title}}">
      {{/if}}
      <div class="caption">
        <h3>{{images.data.firstObject.title}}</h3>
        <p>{{images.data.firstObject.description_508}}</p>
        {{#if hide}}
        <p><button {{action "hideImg" }}>HIDE</button></p>  
        {{else}}
        <p><button {{action "hideImg" }}>SHOW</button></p>  
        {{/if}}
      </div>
    </div>
  </div>

{{yield}}