
{{input value=model.url name='url' type='text'}}
{{input value=model.title name='title' type='text'}}
{{input value=model.description name='description' type='text'}}

<button {{action "doAdd" model}}>Add</button>

{{outlet}}