<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <img class="img-circle logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjwL1AtLDalaubTbx7SaZGq8YQunTJgw7zappPSrYt_vwXnl4o" width="500" align="center" />
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 center">
        {{input value=searchTerm name='edu' type='text' class='form-control'}}
        <button {{action "doSearch" searchTerm}}>Buscar</button>
    </div>
    <div class="col-md-2"></div>
</div>
<!--
<button {{action "doHide" }}>Ocultar</button>
<button {{action "doIr" }}>Ir</button>
-->

{{outlet}}